Django==5.2.14
gunicorn==26.0.0
Pillow
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
six
django-cors-headers
whitenoise
cloudinary
django-cloudinary-storage
psycopg2-binary
dj-database-url

